<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>RegistServlet</servlet-name>
        <servlet-class>servlet.RegistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>servlet.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignalServlet</servlet-name>
        <servlet-class>servlet.SignalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddModelServlet</servlet-name>
        <servlet-class>servlet.AddModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HasModelServlet</servlet-name>
        <servlet-class>servlet.HasModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryModelServlet</servlet-name>
        <servlet-class>servlet.QueryModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTaskStateServlet</servlet-name>
        <servlet-class>servlet.GetTaskStateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuerySignalEntity</servlet-name>
        <servlet-class>servlet.QuerySignalEntityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSignalEntity</servlet-name>
        <servlet-class>servlet.InsertSignalEntityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserNameServlet</servlet-name>
        <servlet-class>servlet.GetUserNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserInfoServlet</servlet-name>
        <servlet-class>servlet.GetUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryBearInfoServlet</servlet-name>
        <servlet-class>servlet.QueryTrainBearHealthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryDeviceInfoServlet</servlet-name>
        <servlet-class>servlet.QueryDeviceInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignalSHowServlet</servlet-name>
        <servlet-class>servlet.SignalShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadSignalDataServlet</servlet-name>
        <servlet-class>servlet.DownLoadSignalDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitTaskServlet</servlet-name>
        <servlet-class>servlet.SubmitTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTaskServlet</servlet-name>
        <servlet-class>servlet.ControlTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryTaskServlet</servlet-name>
        <servlet-class>servlet.QueryTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryDataSourceServlet</servlet-name>
        <servlet-class>servlet.QueryDataSourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryTaskInfoServlet</servlet-name>
        <servlet-class>servlet.QueryTaskInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTaskInfoServlet</servlet-name>
        <servlet-class>servlet.SubmitTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitDownloadServlet</servlet-name>
        <servlet-class>servlet.SubmitDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <servlet-class>servlet.UpdateUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadSignalFileServlet</servlet-name>
        <servlet-class>servlet.DownloadSignalFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCurveDataServlet</servlet-name>
        <servlet-class>servlet.GetCurveDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckTaskNameServlet</servlet-name>
        <servlet-class>servlet.CheckTaskNameServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>CheckTaskNameServlet</servlet-name>
        <url-pattern>/CheckTaskName</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetCurveDataServlet</servlet-name>
        <url-pattern>/GetCurveData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadSignalFileServlet</servlet-name>
        <url-pattern>/DownloadSignalFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <url-pattern>/UpdateUserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitDownloadServlet</servlet-name>
        <url-pattern>/SubmitDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTaskInfoServlet</servlet-name>
        <url-pattern>/AddTaskInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryTaskInfoServlet</servlet-name>
        <url-pattern>/QueryTaskInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryDataSourceServlet</servlet-name>
        <url-pattern>/QueryDataSource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryTaskServlet</servlet-name>
        <url-pattern>/QueryTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTaskServlet</servlet-name>
        <url-pattern>/ControlTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitTaskServlet</servlet-name>
        <url-pattern>/SubmitTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistServlet</servlet-name>
        <url-pattern>/RegistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCedeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignalServlet</servlet-name>
        <url-pattern>/SignalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddModelServlet</servlet-name>
        <url-pattern>/AddModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HasModelServlet</servlet-name>
        <url-pattern>/HasModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryModelServlet</servlet-name>
        <url-pattern>/QueryModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTaskStateServlet</servlet-name>
        <url-pattern>/GetTaskState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuerySignalEntity</servlet-name>
        <url-pattern>/QuerySignalEntity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSignalEntity</servlet-name>
        <url-pattern>/InsertSignal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserNameServlet</servlet-name>
        <url-pattern>/GetUserName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserInfoServlet</servlet-name>
        <url-pattern>/GetUserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryBearInfoServlet</servlet-name>
        <url-pattern>/QueryBearInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryDeviceInfoServlet</servlet-name>
        <url-pattern>/QueryDeviceInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignalSHowServlet</servlet-name>
        <url-pattern>/SignalShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadSignalDataServlet</servlet-name>
        <url-pattern>/DownLoadSignalData</url-pattern>
    </servlet-mapping>
</web-app>